{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi blog | {% block titulo%}{% endblock titulo%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    
</head>
<body class="contenedor">
    {% include 'navigation.html' %}
    <main>
        {% block contenido%}
        {% endblock contenido%}
    </main>
    <footer>
        <p>Derechos reservados de Mauri</p>
    </footer>
</body>
</html>

el link al css tambien pueden ponerlo dentro de un block
entonces al heredar pueden mostrar distintos estilos segun requieran